body{
    display: grid;
    grid-template-areas:
                        'nav' 
                        'header'
                        'section'
                        'main'
                        'footer';
    font-family: 'Roboto', sans-serif;
    grid-template-columns: 100vw;
    grid-template-rows: 2vh;
    margin: 0;
}

body::-webkit-scrollbar{ 
    width: 0px; /*remove scrollbar space */ 
    background: transparent;
}

.icone1{
    cursor: pointer;
    background-color: #2ccc6d;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.icone2{
    cursor: pointer;
    flex-direction: row;
    background-color: #2ccc6d;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;

}

.icone3{
    cursor: pointer;
    background-color:#2ccc6d;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
}


header{
    align-items: center;
    background-image: url(../images/banner.png);
    grid-area: header;
    height: 480px;
    display: flex;
    justify-content: space-evenly;
}


header h1{
    font-family: 'Pacifico', cursive;
}
.iconesheader{
    display: flex;
}

.iconesheader .iconeandroid{ 
    cursor: pointer;
    flex-direction: row;
    background-color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 0.5;
}
.iconesheader .iconeandroid:hover{
    flex-direction: column;
    opacity: 1.0;
    background-color: #2ccc6d;
}
.iconesheader .iconewindows{
    cursor: pointer;
    flex-direction: row;
    background-color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 0.5;
}

.iconesheader .iconewindows:hover{
    opacity: 1.0;
    background-color: #2ccc6d;
}


.iconesheader .iconeios{
    cursor: pointer;
    flex-direction: row;
    background-color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 0.5;
}
.iconesheader .iconeios:hover{
 opacity: 1.0;
 background-color: #2ccc6d;
}

.Hand{
    width: 325px;
    height: 325px;
    justify-content: flex-end;
}

nav{
background-color: #2dcb6f;
grid-area: nav;

}

.Notify{
    position: relative;
    bottom: 4vh;
    left: 5vw;
}

section{
    text-align: center;
    display: flex;
    grid-area: section;
    justify-content: space-between;
    padding: 40px;
    flex-direction: column;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    /* align-items: center;
    display: flex;
    grid-area: section;
    background: white;
    text-align: center; */
    
}
 .Descricao{
    display: flex;
    align-items: center;
    margin: 2cm;
    justify-content: space-evenly;
}

/* section .Descricao div{
    width: 300px;
    justify-content: space-around;
    align-items: center;
} */