body{
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-areas:'nav' 
                        'header'
                        'section'
                        'main'
                        'footer';
    grid-template-columns: 100vw;
    grid-template-rows: 2vh;
    margin: 0;
}

nav{
    background-color: #2dcb6f;
    grid-area: nav;

}

header{
    background-image: url(../images/banner.png);
    background-size: cover;
    display: flex;
    grid-area: header;
    height: 480px;
}

header .Hand div{
    background-image: url(../images/hand.png);
}