body{
    display: grid;
    grid-template-areas:
                        'nav' 
                        'header'
                        'section'
                        'main'
                        'footer';
    font-family: 'Roboto', sans-serif;
    grid-template-columns: 100vw;
    grid-template-rows: 2vh;
    margin: 0;
}

nav{
background-color: #2dcb6f;
grid-area: nav;

}

header{
    background-image: url(../images/banner.png);
    background-size: cover;
    display: flex;
    grid-area: header;
    height: 480px;
}

header .Notify{
    padding: 60px;
    /* justify-content: center;
    align-items: center; */

}

header .Hand div{
    background-image: url(../images/hand.png);
}

section{
    align-items: center;
    display: flex;
    grid-area: section;
    background: white;
}
section .Descricao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1cm;
}
section .Descricao div img{
    width: 50px;
    background-color: #2dcb6f;
    
    
}

header .iconesheader{
    
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.Notify img{
    background-color: black;
    opacity: 0.5;
    
}